<html>
<head>
<title>
Funtote.com - The unique fashion designer canvas tote bag.
</title>
<link rel="stylesheet" href="http://www.funtote.com/include/funtote.css" type="text/css"/>  
<link rel="shortcut icon" href="http://www.funtote.com/favicon.ico">  

<script src="http://www.funtote.com/include/funtote.js" language="javascript" type="text/javascript"></script>
<script src="http://www.funtote.com/include/fadeslideshow.js" language="javascript" type="text/javascript"></script>

<meta name="Keywords" content="designer canvas tote bag, cotton canvas tote, fashion canvas tote"> 
<meta name="description" content="Funtote.com offers a line of unique designer canvas tote bags."> 
<meta name="distribution" content="global">
<meta name="revisit-after" content="15 days">
<meta name="robots" content="FOLLOW,INDEX">


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.funtote.com/include/fadeslideshow.js">
</script>

<script type="text/javascript">

var mygallery=new fadeSlideShow({
	wrapperid: "fadeshow1", //ID of blank DIV on page to house Slideshow
	dimensions: [350, 600], //width/height of gallery in pixels. Should reflect dimensions of largest image
	imagearray: [
		["http://www.funtote.com/images/funtote_highlight.jpg"],
		["http://www.funtote.com/images/funtote_highlight4.jpg"],
		["http://www.funtote.com/images/funtote_highlight3.jpg"],
		["http://www.funtote.com/images/funtote_highlight_837_pk.jpg"],
		["http://www.funtote.com/images/funtote_highlight_832c_bb.jpg"] 
	],
	displaymode: {type:'auto', pause:2500, cycles:0, wraparound:false},
	persist: false, //remember last viewed slide and recall within same session?
	fadeduration: 1800, //transition duration (milliseconds)
	descreveal: "ondemand",
	togglerid: ""
})



</script>





</head>

<body>




<div align="center">


<!-------------------------- top margin ----------------------------------->
<img src="http://www.funtote.com/images/s.gif" width="1" height="5"><br>


<table border="0" cellpadding="0" cellspacing="0" width="770">
<tr>
<td>
<img src="http://www.funtote.com/images/funtote_banner.jpg" width="770" height="122">
</td>
<tr>
</table>

<!--------------------------- 5 c x 10 r table content table ----------------------------------->
<table border="0" cellpadding="0" cellspacing="0" width="770">

<tr> <!-- margin before top line for text -->
  <td bgcolor="#FFFFFF" background="" colspan="5"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
</tr>

<tr> <!-- top lines row -->
  <td width="1" rowspan="5" bgcolor="#cccccc"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
  <td width="1" bgcolor="#cccccc" colspan="5"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
  <td width="1" rowspan="5" bgcolor="#cccccc"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
</tr>


<tr> <!-- upper margins from the heading -->
  <!-- left margin width -->
  <td bgcolor="#FFFFFF" background="" rowspan="3"><img src="http://www.funtote.com/images/s.gif" width="3" height="1"></td>
  <td bgcolor="#FFFFFF" background=""><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
  <!-- right margin width -->
  <td bgcolor="#FFFFFF" background="" rowspan="3"><img src="http://www.funtote.com/images/s.gif" width="2" height="1"></td>
</tr>



<!-- ********  the content table row *********** -->

<tr> 
<td bgcolor="#FFFFFF" background="">
<center>

<!-- the brands content table -->
<table border="0" cellpadding="0" cellspacing="0" width="764">


<!-- first brand top line and margin -->
<tr> <!-- top links bar -->
  <td bgcolor="#ccaa66" background="" colspan="10" valign="center" height="25">
  <img src="http://www.funtote.com/images/s.gif" width="5" height="1">
  <a href="http://www.funtote.com" class="currentboldlink">HOME</a>
  <img src="http://www.funtote.com/images/icon0.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <img src="http://www.funtote.com/images/s.gif" width="3" height="1">
  <a href="http://www.funtote.com/catalog.html" class="whiteboldlink">CATALOG</a>
  <img src="http://www.funtote.com/images/icon1.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/testimonials-best-canvas-tote-bag.html" class="whiteboldlink">TESTIMONIALS</a>
  <img src="http://www.funtote.com/images/icon2.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/stores.html" class="whiteboldlink">STORES</a>
  <img src="http://www.funtote.com/images/icon3.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/aboutus-wholesale-canvas-tote-bag.html" class="whiteboldlink">ABOUT US</a>
  <img src="http://www.funtote.com/images/icon4.gif" width="7" height="8">

  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">
  <font color="#aaaaaa">|</font>
  <img src="http://www.funtote.com/images/s.gif" width="21" height="1">

  <a href="http://www.funtote.com/contactus.html" class="whiteboldlink">CONTACT US</a>
  <img src="http://www.funtote.com/images/icon5.gif" width="7" height="8">

  </td>
</tr>
<tr> 
  <td bgcolor="#EEEEEE" background="" colspan="10"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
</tr>
<tr> 
  <td bgcolor="#FFFFFF" background="" colspan="10"><img src="http://www.funtote.com/images/s.gif" width="1" height="5"></td>
</tr>


<tr> 
  <!-- left margin -->
  <td bgcolor="#FFFFFF" background="">
  <img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>

  <!-- the Article table -->
  <td bgcolor="#ffffff" background="" rowspan="5" align="left" valign="center">
  <table border="0" cellpadding="0" cellspacing="0" width="270">
    <tr>
    <td bgcolor="#FFFFFF" background="">
<!--
<img src="./images/funtote_highlight.jpg" width="350" height="600">
-->


<div id="fadeshow1"></div>

    </td>
    </tr>
  </table>
  </td>

  <td bgcolor="#FFFFFF" background=""><img src="http://www.funtote.com/images/s.gif" width="8" height="1"></td>




  <td bgcolor="#ffffff" background="" align="center" valign="top">




  <table border="0" cellpadding="0" cellspacing="0" width="350">

    <tr>
    <td bgcolor="#FFFFFF" background=""  valign="top">



	    <%= yield %>



    </td>
    </tr>

  </table>
  
  </td>


  <td bgcolor="#FFFFFF" background=""><img src="http://www.funtote.com/images/s.gif" width="10" height="1"></td>
</tr>


</table>


</center>
</td>
</tr>




<!-- bottom items high light -->
<tr> <!-- bottom links bar -->
  <td bgcolor="#cccccc" background="" valign="center">
  <table border="0" cellpadding="0" cellspacing="0" width="764">
    <tr>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><img src="http://www.funtote.com/images/s.gif" width="3" height="1"><a href="./catalog.html" class="currentboldlink">COLLECTIONS:</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/catalog.html" class="brandlink">Side Zipper</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_baggy_tote_bags.html" class="brandlink">Baggy</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><img src="http://www.funtote.com/images/s.gif" width="15" height="1"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_eco_shopping_reusable_bags.html" class="brandlink">Eco </a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><img src="http://www.funtote.com/images/s.gif" width="15" height="1"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_kawaii_cute_hobo_bags.html" class="brandlink">Hobo</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_messenger_bags.html" class="brandlink">Messenger</a></td>
    <td bgcolor="#cccccc" background="" valign="center"  height="20"><span class="whitetextbold">> </span><a href="http://www.funtote.com/funtote_novelty.html" class="brandlink"> Novelty</a></td>
    </tr>
  </table>
  </td>
</tr>




<tr> <!-- bottom line, has both side lines -->
  <td bgcolor="#cccccc" background="" colspan="5"><img src="http://www.funtote.com/images/s.gif" width="1" height="1"></td>
</tr>


<tr> <!-- bottom margin after line for text after -->
  <td bgcolor="#FFFFFF" background="" colspan="5"><img src="http://www.funtote.com/images/s.gif" width="1" height="5"></td>
</tr>

</table> <!-- end of content table -->




<!--------------------------- bottom menu table ------------------------------->
<table border="0" cellpadding="0" cellspacing="0" width="770">
<tr> 
  <td bgcolor="#FFFFFF" background="" valign="top" align="right">
	<span class="footertext">Copyright &copy; <img src="http://www.funtote.com/images/copy_year.jpg" border="0"> <a href="http://www.funtote.com" class="footerlink">funtote.com</a>. All Rights Reserved. <a href="http://www.funtote.com/terms.html" class="footerlink">terms</a> / <a href="http://www.funtote.com/info.html" class="footerlink">info</a> / <a href="http://www.funtote.com/privacy.html" class="footerlink">privacy</a></span>
	</td>
</tr>
</table>




</div>






</body>
</html>
